<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeForces Stalker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
    <!-- Icons font CSS-->
    <link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="css/main.css" rel="stylesheet" media="all">
</head>
<body>
    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <h2 class="title">CodeForces Stalker</h2>
                    <form id="form" method="POST" action="/postSubmissions">
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">UserId</label>
                                    <input class="input--style-4" id="req" type="text" name="nick">
                                </div>
                            </div>
                        </div>
                            
                        <div class="p-t-15">
                            <button id="stalk" class="btn btn--radius-2 btn--blue" type="submit">Stalk</button>
                            <% if(done===2){ %>
                            <button id="down-btn" formaction="/downloadSubmissions" class="btn btn--radius-2 btn--blue" type="submit">Download Solutions</button>
                            <img id="down-load" src="https://i.imgur.com/b96dOB0.gif">
                            <% } %>
                        </div>
                    </form>   
                     <br>
                    <% if(done===2){ %>
                        <a class="label handle" target="_blank" href="<%= URL %>">CodeForces Handle</a>
                        <p class="label">Total Submissions: <%= total %></p>
                        <p class="label">Accuracy: <%= accuracy %>% </p>
                        <p class="label">Highest Rating Question Solved: <%= quesRating %> </p>
                        <p class="label">Accepted Submissions: <%= ac %></p>
                        <p class="label">Wrong Submissions: <%= wrong %></p>
                        <p class="label">Time Limit Exceeded: <%= tle %></p>
                        <p class="label">Runtime Error: <%= runtime %></p>
                        <p class="label">Memory Limit Exceeded: <%= memorylimit %></p>
                        <p class="label">Compilation Error: <%= compilation %></p>    
                        <p class="label">Hacked: <%= hacked %></p>
                        <p class="label">Others: <%= other %></p>
                        <br>
                        <br>
                        <div class="label">
                            <canvas id="myChart"></canvas>
                        </div>
                    <% }else if(done===1){ %>
                        <p class="label invalid">Invalid UserId</p>
                    <% }else if(done===-1){ %>
                        <p class="label invalid">There Some Error Retrieving Data!</p>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <div id='loader-wrapper'>
        <div class="loader">
            <div class="b1"></div>
            <div class="b2"></div>
            <div class="b3"></div>
        </div> 
    </div>
    <% if(done===2){ %>
        <script>
             let ctx= document.getElementById('myChart').getContext('2d');
     
             Chart.defaults.global.defaultFontFamily= "Poppins";        
             Chart.defaults.global.defaultFontSize= 16;
             Chart.defaults.global.defaultFontColor= '#777';
     
             var myChart = new Chart(ctx, {
                 type: 'pie',
                 data: {
                     labels: ['Accepted', 'Wrong Answer', 'Runtime Error', 'Time Limit Exceeded', 'Memory Limit Exceeded', 'Compilation Error', 'Hacked', 'Others'],
                     datasets: [{
                         label: 'Submissions',
                         data: [
                             <%= ac %>,
                             <%= wrong %>,
                             <%= runtime %>,
                             <%= tle %>,
                             <%= memorylimit %>,
                             <%= compilation %>,
                             <%= hacked %>,
                             <%= other %>
                         ],
                         backgroundColor: [
                             'rgb(132,222,2)',
                             'rgb(211,33,45)',
                             'rgb(0,48,143)',
                             'rgb(255,191,0)',
                             'rgb(201,255,229)',
                             'rgb(176,101,241)',
                             'rgb(196,98,16)',
                             'rgb(0,0,0)'
                         ],
                         borderWidth: 1,
                         borderColor: '#777',
                         hoverBorderWidth: 3,
                         hoverBorderColor: '#000'
                     }]
                 },
                 options: {
                     title: {
                         display: true,
                         text: "Submission Chart",
                         fontSize: 25
                     },
                     legend: {
                         position: 'right',
                         labels: {
                             fontColor: '#000'
                         }
                     },
                     layout: {
                         padding: {
                             left: 50,
                             right: 0,
                             bottom: 0,
                             top: 0
                         }
                     }
                 }
             });
        </script> 
     <% } %>
    <script>
        $('#down-btn').on('click',function(){
            $('#down-load').fadeIn();
        });
        $('#stalk').on('click', function(){
            $('#loader-wrapper').fadeIn();
        });
        $(window).on('load',function(){
          $('#down-load').fadeOut("slow");
          $('#loader-wrapper').fadeOut("slow");
        });
    </script>
    
    <!-- Jquery JS-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="vendor/select2/select2.min.js"></script>
    <script src="vendor/datepicker/moment.min.js"></script>
    <script src="vendor/datepicker/daterangepicker.js"></script>

    <!-- Main JS-->
    <script src="js/global.js"></script>
</body>
</html>